{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block body %}
<div class="container">
    <h2>About Todo List</h2>
    <p>Welcome to the Todo List application! Here's how to use it:</p>
    <ol>
        <li>Click on <strong>"Add a Todo"</strong> to open the form.</li>
        <li>Enter a title for your todo in the <strong>"Todo Title"</strong> field.</li>
        <li>Describe your todo in the <strong>"Todo Description"</strong> field.</li>
        <li>Click on <strong>"Submit"</strong> to add the todo to your list.</li>
    </ol>
    <p>That's it! You can now start organizing your tasks with the Todo List.</p>
</div>
{% endblock body %}
